<mat-card style="max-width: 280px; height: auto;">
    <mat-card-header>
        <div mat-card-avatar class="mat-header-image"></div>
        <mat-card-title>Angular Card</mat-card-title>
        <mat-card-subtitle>Angular-Material Card</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/angular.png" alt="Angular Logo" style="background-size: cover;" />
    <mat-card-content>
        <p>Angular is a modern framework built entirely in TypeScript, and as a result, using TypeScript with Angular provides a
        seamless experience. The Angular documentation not only supports TypeScript as a first-class citizen, but uses it as its
        primary language.</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button color="warn"><mat-icon>favorite</mat-icon></button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>