<mat-grid-list cols="4">
    <mat-grid-tile>
        <app-card></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-card></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-card></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-card></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-card></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-card></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-card></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-card></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-card></app-card>
    </mat-grid-tile>
</mat-grid-list>
